/* CSS da pagina principal */
.header1 {
	background-color: #233040;
}

.insper{
	padding-top: 1rem;
	font-family: Montserrat;
	font-weight: bold;
	display: flex;
	justify-content: center;
	font-size: 2rem;
	color: #BBD4D8;
}

.titulo{
	color: #BBD4D8;
}

.navbar{
	display: flex;
	flex-flow: row wrap;
	padding: 1rem;
	justify-content: center;
	font-family: Montserrat;
}

.item-header{
	font-size: 1.2rem;
	padding: 0 0.5rem;
	color: #BBD4D8;
}

#destaques, #navegar{
	display: flex;
	justify-content: center;
	font-size: 1.8rem;
	font-family: Montserrat;
	font-weight: bold;
}

#destaques{
	margin-top: 1rem;
}

.parent{
	display: grid;
	grid-template-rows: 25% 25% 25% 25%;
	grid-template-columns: 50% 50%;
	margin: 1rem auto;
	grid-gap: 1rem;
	max-width: 70rem;
	background-color: #BBD4D8;
}

.child1, .child2, .child3{
	
}

#foto-modsim{
	margin-left: 0.5rem;
	float: right;
	width: 55%;
}

#titulo-modsim{
	padding: 0rem 0rem 0.5rem 0rem;
	font-size: 1.2rem;
	font-family: Montserrat;
	font-weight: bold;
	color: #141D29;
}

.child1{
	grid-row-start: 1; 
	grid-row-end: 5;
	grid-column-start: 1;
	grid-column-end: 2;
}

#foto-ds{
	margin-left: 0.5rem;
	float: right;
	width: 40%;
}

#titulo-ds{
	padding: 0rem 0rem 0.5rem 0rem;;
	font-size: 1.2rem;
	font-family: Montserrat;
	font-weight: bold;
	color: #141D29;
}

.child2{
	grid-row-start: 1; 
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 3;
}

#foto-em{
	float: right;
	margin-left: 0.5rem;
	width: 40%;
}

#titulo-em{
	padding: 0rem 0rem 0.5rem 0rem;
	font-size: 1.2rem;
	font-family: Montserrat;
	font-weight: bold;
	color: #141D29;
}

.child3{
	grid-row-start: 3; 
	grid-row-end: 5;
	grid-column-start: 2;
	grid-column-end: 3;
}

.vertodos{
	display: grid;
	grid-template-columns: 50% 50%;
	margin: auto;
	padding: 1rem;
	grid-gap: 1rem;
	max-width: 40rem;
}

.ver-todos-box1, .ver-todos-box2{
	border: 0.1rem solid;
	padding: 0.5rem;
}

.ver-todos-box1{
	grid-column-start: 1;
	grid-column-end: 2;
	font-family: Archivo;
}

.ver-todos-box2{
	grid-column-start: 2;
	grid-column-end: 3;
	font-family: Archivo;
}

.footer{
	display: flex;
	flex-flow: row wrap;
	padding: 1rem;
	margin: auto;
	justify-content: space-around;
	border: 0.1rem solid;
	background-color: #233040;
}

.footer-item{
	font-size: 1rem;
	font-family: Archivo;
	color: #BBD4D8;
	font-size: 1.2rem;

}

p{
	text-align: justify;
	font-family: Archivo;
	font-size: 0.95rem;
	color: #233040;
}

.body{
	background-color: #BBD4D8;
}

/* CSS da pagina dos projetos */

.header {
	position: relative;
	border-style: solid;
	border-radius: 5px;
	border-width: 2px;
	margin:20px 20px 20px 10px;
	padding:5px;
	
}

.titulo {
	text-align: center;
	position: relative; 
	font-family: Montserrat;
}

.nav{
	text-align: center;
	position: relative;
	margin-top: 10px;
}

.nav-item {
	margin: 10px 30px 10px 30px;
	display: inline-block;
	position: relative;
}

.main-disciplina {
	border: 2px solid;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;

}
.item-oa{
	list-style-type: decimal;
	margin-left: 30px;
	margin-bottom: 10px;
	margin-top: 10px;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}
.subnav {
	background-color: magenta;
	position: absolute;
	width: 120px;
	visibility: hidden;
}

.nav-item:hover .subnav {
	visibility: visible;
}
.item-ex {
	list-style-type: circle;
	margin-left: 30px;
	margin-bottom: 10px;
	margin-top: 10px;

}
.item-con {
	list-style-type: circle;
	margin-left: 30px;
	margin-bottom: 10px;
	margin-top: 10px;

}
.img-prj {
	width: 500px;
	margin: 20px;
}
.head-dis{
	margin: 10px 0px 10px 0px;
}
.head-des{
	margin: 10px 0px 5px 0px;
}
.head-con{
	margin-top: 10px;

}

.nome-projeto{
	font-size: 1.2rem;
	font-family: Montserrat;
	font-weight: bold;
}

.head-dis, .head-des, .head-con, .head-oa, .head-ex{
	font-family: Montserrat;
	font-weight: bold;
	font-size: 1.1rem;
	text-decoration: underline;
}

.descricao, .item-con, .item-oa, .item-ex{
	font-family: Archivo;
}
